<div class="container" ng-hide="loggedIn">
  <form class="form-signin" ng-class="{'has-error': hasError}" ng-submit="loginCtrl.onSubmit($event)">
    <h2 class="form-signin-heading">Enter your nickname</h1>
    <div class="input-group">
      <input ng-model="username"
        type="text" class="form-control" required autofocus placeholder="{{placeholder}}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Join!</button>
      </span>
    </div><!-- /input-group -->
    <span class="help-block">{{errorMessage}}</span>
  </form>
</div><!-- /container -->
